%script(src="/javascript/vendors/jquery.js")
%script(src="/javascript/vendors/jquery.mobile.js")
%script(src="/javascript/vendors/handlebars.js")
%script(src="/javascript/vendors/ember.js")
%script(src="/javascript/vendors/ember-data.js")
%script(src="/javascript/application.js")
%script(src="/javascript/router.js")
