<!doctype html>
<html>
    <head>
        <title><%= @title %></title>
    </head>

    <body>
        <script type="text/x-handlebars">
            <div class="main">
                <h1>Hello World</h1>
                {{#link-to "channels"}}Start rolling dice!{{/link-to}}
                {{outlet}}
            </div>
        </script>

        <script type="text/x-handlebars" data-template-name="channels">
            <h2>Shows</h2>
            <ul>
                {{#each}}
                <li>Hello, {{call_sign}}!</li>
                {{/each}}
            </ul>
        </script>

        <script src="/javascript/vendors/jquery.js" type="text/javascript"></script>
        <script src="/javascript/vendors/handlebars.js" type="text/javascript"></script>
        <script src="/javascript/vendors/ember.js" type="text/javascript"></script>
        <script src="/javascript/vendors/ember-data.js" type="text/javascript"></script>
        <script src="/javascript/app.js" type="text/javascript"></script>
    </body>
</html>