<div id="tv-guide" data-role="content">
    <p>Loading TV Guide... <img src="/images/ajax-loader.gif" /><p></p>
</div>

<script type="text/template" id="channels-template">
    <ul class="tv-guide-list" data-role="listview">
        <li>
            <ul class="tv-guide-times">
                <li>00:00</li>
                <li>00:30</li>
                <li>01:00</li>
                <li>00:30</li>
            </ul>
        </li>
        <%% _.each(rc.channels, function(channel){ %>
        <li>
            <ul>
                <li><img src="/tv/channel/1/icon" /></li>
                <li class="channel-details"><%%- channel.channel_number %> - <%%- channel.call_sign %></li>
                <li class="sixty">Eastenders</li>
                <li class="sixty">Holby City</li>
            </ul>
        </li>
        <%% }); %>
    </ul>
</script>
