#tv_guide

%script#tv-guide-template(type="text/x-handlebars-template")
  %ol
    %li
      Date
      %ol
        %li
          time 1
        %li
          time 2
        %li
          time 3
        %li
          time 4
        %li
          = hb 'each ProgramGuide.Channels' do
            %ol
              %li<
                = hb 'CallSign'

                %ol
                  = hb 'each Programs' do
                    %li<
                      = hb 'Title'
