<div id="tv-guide">
    <p>Loading TV Guide... <img src="/images/ajax-loader.gif" /><p></p>
</div>

<script type="text/template" id="channels-template">
    <div class="row">
        <div class="col-xs-2 grid-header">&nbsp;</div>
        <div class="col-xs-1-2-5 grid-header">00:00</div>
        <div class="col-xs-1-2-5 grid-header">00:15</div>
        <div class="col-xs-1-2-5 grid-header">00:30</div>
        <div class="col-xs-1-2-5 grid-header">00:45</div>
        <div class="col-xs-1-2-5 grid-header">01:00</div>
        <div class="col-xs-1-2-5 grid-header">01:15</div>
        <div class="col-xs-1-2-5 grid-header">01:30</div>
        <div class="col-xs-1-2-5 grid-header">01:45</div>
    </div>

    <%% _.each(rc.channels, function(channel){ %>
    <div class="row">
        <div class="col-xs-2 channel-row"><%%- channel.call_sign %> - <%%- channel.number %></div>
        <%% _.each(channel.shows, function(show) { %>
        <div class="col-xs-2 channel-row <%%- show.category %>" data-toggle="tooltip" title="<%%- show.title %> - <%%- show.description %>">
            <%%- show.title %> - <%%- show.description %>
        </div>
        <%% }); %>
    </div>
    <%% }); %>
</script>

<script src="/javascript/tv_guide.js" type="text/javascript"></script>
