<!doctype html>
<html>
    <head>
        <title><%= @title %></title>
    </head>

    <body>
        <div id="content">
            Loading TV Guide...
        </div>

        <script type="text/template" id="channels-template">
            <h1>Channels</h1>

            <ul>
            <%% _.each( rc.channels, function( channel ){ %>
                <li><%%- channel.call_sign %></li>
            <%% }); %>
            </ul>
        </script>

        <div id="search_container"></div>

        <script src="/javascript/vendors/jquery.js" type="text/javascript"></script>
        <script src="/javascript/vendors/handlebars.js" type="text/javascript"></script>
        <script src="/javascript/vendors/underscore.js" type="text/javascript"></script>
        <script src="/javascript/vendors/backbone.js" type="text/javascript"></script>
        <script src="/javascript/app.js" type="text/javascript"></script>
    </body>
</html>